singularity.enabled = true
singularity.autoMounts = true
profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-kp'
            clusterOptions = '--account=hci-kp'
	   //container = '/uufs/chpc.utah.edu/common/home/hcibcore/u0762203/microbiomeTestPipe/containers/qinglhci2019_humann3_metagenome.sif'
	    container = 'qingl0331/qinglhci2019:humann3_metagenome'
            //memory = 120.GB
	    // cpu 20 for kp, 28 for rw
            cpus = 20 
            cache = 'lenient'
            //errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/nfs1/u0762203/tmp'
        }   
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
    //file = "./logs/trace.txt"
} 


