params {
    outdir = 'results'
}
//singularity.enabled = true
//singularity.autoMounts = true
profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-kp'
            clusterOptions = '--account=hci-kp'
            //memory = 120.GB
            cpus = 20
            cache = 'lenient'
            //errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/nfs1/u0762203/tmp'
        }   
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
} 


