//process.memory=12.GB
process.cpus=28 //for rw
process.queue = 'hci-rw'
process.scratch = '/scratch/general/pe-nfs1/u0762203/tmp'

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'hci-rw'
            scratch = '/scratch/general/pe-nfs1/u0762203/tmp'
            clusterOptions = '--account=hci-rw'
        }
    }
}


