//process.memory=12.GB
process.cpus=20 // for kp
process.executor = 'slurm'
process.queue = 'hci-kp'
process.scratch = '/scratch/general/lustre/u0762203/tmp'
process.clusterOptions = '--account=hci-kp'
singularity.enabled = true
singularity.autoMounts = true
profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'hci-kp'
            scratch = '/scratch/general/lustre/u0762203/tmp'
            clusterOptions = '--account=hci-kp'
        }
    }
}


